
/* desktop  */
@media (max-width:1440px) {
    .container {
        width: 1220px;
      }
    
}

@media (max-width:1320px) {
    .container {
        width: 1000px;
      }
    
}

@media (max-width:1024px) {
    .container {
        width: 920px;
      }
    
}


/* laptop  */
@media (max-width:991px) {

    .container {
        width: 720px;
      }

      .side-nav{
        display: block;
      }

      header .nav-bar nav {
        display: none;

      }
      header .search-box  {
        display: none;
      }
      .banner-content {
        width: 85%;
    }

    .weeky-best-seller .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-heading {
        font-size: 32px;
    }
}


/* tablet  */
@media (max-width:767px) {
    .container {
        width: 520px;
      }
      .banner-content {
        width: 95%;
    }
    
    .weeky-best-seller .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-heading {
        font-size: 26px;
    }
}

@media (max-width:575px) {
    .container {
        width: 100%;
      }
      .weeky-best-seller .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .section-heading {
        font-size: 22px;
    }
}


/* mobile  */
@media (max-width:480px) {
    .weeky-best-seller .wrapper {
        grid-template-columns: 1fr;
    }
    
}