* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}


a {
  text-decoration: none;
  color: inherit;
}


img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  width: 1320px;
  padding: 10px;
  margin: 0px auto;
}


.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}


.margin-top{
  margin-top: 80px;
}

:root{

    --secondary-color: #629D23;
    --dark-theme :#2C3C28;

}

/* header css  */
header {
  background-color: var(--dark-theme);
  color: white;
}


header ul li {
  margin-right: 10px;
}

header .top-header {
  padding: 10px 50px;
  border-bottom: 1px solid rgb(184, 184, 184);
}


header .search-box{
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

header .search-box .category{
    color: black;
    padding: 10px;
}

header .search-box form{
    border: 1px solid var(--secondary-color);
    padding: 10px;
}

header .search-box form input{
    height: 100%;
    border: none;
}

header .search-box button{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: white;
}
header .action-btn a{
  padding: 20px ;
  background-color: white;
  color: black;
  border-radius: 5px;
  position: relative;

}

header .action-btn a span{
  background-color: var(--secondary-color);
  padding: 5px 8px;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 25px;
}

header .action-btn a i{
  padding-right: 10px;
}


header .nav-bar{
  background-color: var(--secondary-color);
  padding-block: 10px;
}

header .nav-bar .location{
  font-size: 14px;
}
header .nav-bar .location span{
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}


/* banner  */

.banner-section{
  background-image: url("../images/02.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding:  100px;
  border-radius: 10px;
}

.banner-content{
  width: 45%;
}
.banner-section .tagline{
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
}
.banner-section h1{
  font-size: 36px;
  color: var(--dark-theme);
}

.banner-section p{
  font-size: 18px;
  color: rgb(39, 39, 39);
  margin: 20px 0px;
}

.banner-section .custome-btn{
  background-color: var(--secondary-color);
  color: white;
  padding:  20px;
  border-radius: 5px ;
  font-size: 16px;
  font-weight: 500;
}
.banner-section .custome-btn i{
  padding-left: 5px;
}

.banner-section .action-btn-wrapper{
  justify-content: flex-start;
  align-items: flex-end;
  gap: 50px;
  margin-top: 25px;
}

.banner-section .action-btn-wrapper .price span{
  font-size: 36px;
  color: var(--secondary-color);
  font-weight: 600;
}

.product-category{
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  padding: 0px;
}

.product-category .product-category-card img{
  height: 80px;
}
.product-category .product-category-card {
  padding: 20px;
  text-align: center;
  border-right:  1px solid rgb(173, 173, 173);
}

.product-category .product-category-card .title{
  font-size: 14px;
  text-align: center;
  color: var(--dark-theme);
  font-weight: 700;
  margin: 10px 0px;
}
.product-category .product-category-card span{
  color: var(--secondary-color);
  font-size: 14px;
  text-transform: uppercase;
}

.product-category .product-category-card  img{
  height: 100px;
  object-fit: contain;
}



.offers-section .offer-cards{
 background-image: url("../images/01.webp");
 background-repeat: no-repeat;
 background-size: cover;
 padding:  40px;
 border-radius: 5px;
}

.offers-section .offer-cards img{
  height: 180px;
  object-fit: contain;
}

.offers-section .offer-cards h2{
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: var(--dark-theme);
}

.offers-section .offer-cards h2 span{
  font-weight: 700;
}
.offers-section .offer-cards .price{
  margin-top: 20px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 30px;
}

.offers-section .offer-cards .price span{
  display: block;
  font-size: 24px;
  font-weight: 400;

}